@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: 'inter', sans-serif;
}

.w-full{
    width: 100%;
}

ion-datetime{
    border-radius: 15px;
    padding: 6px;
    background-color: #F9F9F9;
    width: 100%;
}

ion-text{
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 15px;
}

.bb{
    border-bottom: 1px solid #F9F9F9;
}

.gap{
    gap: 10px;
}

.p{
    padding: 12px 0 12px 0px;
}

.pb{
    padding-bottom: 25px;
}
